html {
  font-family: 'Merriweather', serif;
}

th, td {
  width: 10em;
  border: 1px solid #ccc;
}

td {
  height: 10em;
}

.event-grey {
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #666;
  border-radius: .5em
}

.event-red {
  background-color: #f2bcbc;
  color: #b92828;
  border: 1px solid #991919;
  border-radius: .5em
}

.event-blue {
  background-color: #d2d6f0;
  color: #1d38da;
  border: 1px solid #38448e;
  border-radius: .5em
}

.event-green {
  background-color: #d1e0bf;
  color: #6b7e54;
  border: 1px solid #51603f;
  border-radius: .5em
}
